* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-bottom: 50px;
  padding: 0 20px;
}

.logo {
  padding: 0 10px;
}

.navigation {
  padding: 0 10px;
}

.nav-list-group {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.nav-list-item a {
  text-decoration: none;
  color: #00277e;
}

/* hero section */
.hero-container {
  width: 100%;
  margin: 0 auto;
}

.hero-image1 {
  width: 50%;
  margin-left: auto;
}

.hero-image1>img {
  width: 100%;
  aspect-ratio: 5/3;
  height: auto;
}

.hero-copy {
  font-size: 50px;
}

.hero-image2 {
  max-width: 80%;
  aspect-ratio: 6/1;
  background-color: #00267d;
}

.hero-text {
  margin-top: -150px;
}